body{
	background-color: black;
}
h1{
	color: white;
}
.container{
	margin:0 auto;
	background-color: pink;
	width: 50%;

}
.square{
	width: 30%;
	background: purple;
	padding-top: 30%;
	float:left;
	margin:1.66%;
}